.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem;
  box-shadow: 0 0 10px 3px #ededed;
}
.navbar h1 {
  cursor: pointer;
}
.books img {
  width: 200px;
  height: 300px;
}
hr {
  margin: 3rem 0;
}
.heading {
  padding: 1rem 0 2rem;
}
.books-category {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}
.options-block {
  background-color: #ffffff;
  color: black;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 10px;
}
.move-to {
  color: #ffffff;
  background-color: #666666;
  margin: 0;
  padding: 1rem;
  border-radius: 10px;
}
.options-block {
  width: 200px;
  margin: auto;
  margin-top: 1rem;
}
.options-block .options {
  cursor: pointer;
  font-size: 18px;
  padding: 0.5rem;
}
.options:hover {
  background-color: #282c34;
  border-radius: 10px;
  color: #ffffff;
}
button {
  padding: 0.5rem 1.5rem;
  background-color: #282c34;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.search {
  position: relative;
}
.searchbar {
  padding: 0.5rem 2rem;
  width: 70%;
  margin-bottom: 2rem;
}
.icon {
  position: absolute;
  right: 14%;
  top: 8px;
  color: black;
  font-size: large;
  font-weight: 700;
}
.active {
  background-color: #282c34;
  border-radius: 10px;
  color: #ffffff;
}
.arrow {
  font-size: 40px;
  position: absolute;
  left: 50px;
  top: 15%;
  cursor: pointer;
}
.search-books {
  flex-wrap: wrap;
}
.search-books button {
  margin-bottom: 2rem;
}
@media screen and (max-width: 900px) {
  .books-category {
    flex-wrap: wrap;
  }
}
.footer {
  border-top: 2px #ffffff solid;
  height: 100px;
  margin-top: 2rem;
}
